body{
background-color:#2d2525;

}
#o1{
    color:rgb(45, 116, 151);
    font-family: "Bungee", "consolas"
}
#p2{
    color:rgb(178, 174, 174);
    font-family: "Ysabeau SC", "consolas"
}
#p3{
    color:rgb(228, 228, 124);
    font-family: "Ysabeau SC", "consolas"
}
#p4{
    color:rgb(228, 228, 124);
    font-family: "Ysabeau SC", "consolas"
}
